.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-left: 20px;
}

.underline {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0
}

.raclette-infos {
  margin-top: 20px;
}

.raclette-infos-subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p:first-of-type {
    margin-right: 10px ;
  }
}

.raclette-images {
 display: flex;
 justify-content: space-between;
}

.raclette-images > div {
  max-width: 48%;
  border-radius: 5px;

  img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }

  :first-child img {
    margin-right: 2vw;
  }
}

.raclette-content {
  display: flex;
  margin-top: 50px;
}

.raclette-content-description {
  flex-grow: 1;
}

.raclette-content-booking {
  margin-right: 4vw;
  border: 2px solid rgba(91, 80, 217, 0.8);
  border-radius: 10px;
  padding: 30px;
}
