<div class="card-product">
  <%= cl_image_tag @raclette.photo.key %>
  <div class="card-product-booking">
    <div class="card-product-head">
      <div class="card-product-title">
        <h2><%= @raclette.title %></h2>
        <p><i class="fa-solid fa-location-pin"></i><%= @raclette.location %></p>
      </div>
      <div class="card-product-status">
        <div class="status-pending">
          Pending
        </div>
        <%= cl_image_tag @raclette.user.avatar.key, class: "avatar" %>
      </div>
    </div>
    <div class="card-product-infos">
      <div class="card-product-details">
        <p>Booked on the 3rd April, 2022</p>
        <div class="big-eater">
          Big eater
        </div>
      </div>
    </div>
  </div>
</div>
