
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.enviedebienmanger.fr/sites/default/files/fotolia_58978138_s.jpg);">
  <div class="container">
    <h1>Ma Raclette</h1>
    <p>Lorem Ipsum.</p>
  </div>
</div>
