.banner {
  background-size: cover;
  background-position: center;
  padding: 75px 0;
}

.banner-home {
  background-size: cover;
  background-position: center;
  padding: 75px 0;
  height: 100vh;
  text-align: center;
}

.banner > .container > h1 {
  color: white;
}
