.card-banner {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 35px;
  font-weight: lighter;
  border-radius: 5px;
  margin-bottom: 300px;
}

.card-banner-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-banner-cta {
  padding-top: 24px;
  padding-bottom:24px;
  display: flex;
  justify-content: center;
}

.card-banner-logo {
  display: flex;
  justify-content: center;

  img {
    width: 60px;
    height: auto;
  }
}

.cards-grid-index {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 16px;
}
.card-grid-index img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
}
.card-grid-index {
  background-size: cover;
  background-position: center;
  height: auto;
  display: block;
  padding: 20px;
}

.card-grid-index h2 {
  font-size: 1.2rem;
  padding-top: 8px;
  padding-bottom: 0px;
  font-weight: bold;
}

.card-grid-index p {
  padding: 0;
  margin: 0;
  color: #545767;
}

.card-grid-index img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
}



.cards-grid-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-grid-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-grid-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-grid-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-grid-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-grid-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cards-grid-home a {
  text-decoration: none;
  color: inherit;
}

.card-grid-home {
  background-size: cover;
  background-position: center;
  height: auto;
  display: block;
  padding: 20px;
}

.card-grid-home h2 {
  font-size: 1.2rem;
  padding-top: 8px;
  padding-bottom: 0px;
  font-weight: bold;
}

.card-grid-home p {
  padding: 0;
  margin: 0;
  color: #545767;
}

.card-grid-home img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
}

.card-product {
  border-radius: 5px;
  overflow: hidden;
  height: 130px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-booking {
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

.card-product-head {
  display: flex;
  justify-content: space-between;
}

.card-product-status {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 239px;
}

.card-product-status .avatar {
  width: 30px;
  height: 30px;
}

.status-pending {
  color: #8080807a;
  padding: 6px 15px;
  font-size: 12px;
  font-style: italic;
}

.card-product-details p {
  font-style: italic;
}

.card-product-details i {
  margin-right: 7px;
}

.big-eater {
  margin-top: 4px;
  font-size: 12px;
}

.card-product-title i {
  margin-right: 7px;
}

.card-button {
  color: white;
}

.card-button a {
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.big-eater {
  display: flex;

  p {
    margin-right: 25px;
  }

  i {
    margin-right: 6px;
  }
}

.status-declined {
  font-size: 12px;
  font-style: italic;
  color: #c03838;
}

.status-accepted {
  font-size: 12px;
  font-style: italic;
  color: #329152;
}
